<section class="container-shopping-carts">
  <div class="container">
    <div class="container-empty-cart">
      <div class="content-img">
        <%= image_tag("empty-cart.png") %>
      </div>
      <p class="my-4">Su carrito está vacío.</p>
      <a href="">volver a la tienda</a>
    </div>
  </div>
</section>
