.container-carousel-products{
  position: relative;
  .content-description{
    height: 400px;
    margin-top: 3px;
    background-repeat: no-repeat;
    background-position: bottom right;
    display: flex;
    align-items: center;
    h5{
      font-size: 38px;
    }
    p{
      font-size: 18px;
    }
  }
}
