.container-carousel-products{
  .content-description{
    height: 400px;
    background-repeat: no-repeat;
    background-position: bottom right;
    display: flex;
    align-items: center;
    h5{
      font-size: 38px;
    }
    a{
      padding: 10px 29px;
      font-size: 16px;
      line-height: 1.3125;
      background-color: #BDD239;
      border: 1px solid #BDD239;
      color: #F7F7F7;
      display: inline-block;
      &:hover {
        background-color: #FFF;
        color: #BDD239;
      }
    }
    p{
      font-size: 18px;
    }
  }
}
