<div class="container">
  <div class="container-products-show">
    <div>
      <%= image_tag("product-a1.jpg") %>
    </div>
    <div>
      <h3>Accer Nitro-5 Laptop</h3>
      <p class="price">
        <span class="woocs_price_code" data-product-id="1472">
          <del aria-hidden="true">
            <span class="woocommerce-Price-amount amount">
              <bdi><span class="woocommerce-Price-currencySymbol">$</span>200.00</bdi>
            </span>
          </del>
          <ins>
            <span class="woocommerce-Price-amount amount">
              <bdi><span class="woocommerce-Price-currencySymbol">$</span>160.00</bdi>
            </span>
          </ins>
        </span>
      </p>
      <p>Quot semper vivendo ad vix, qui ad diam lucilius repudiare.
      Autem voluptua ius id.
      Invenire antiopam qualisque ne per, ei vim legimus accusam, tale nulla vim ut</p>
    </div>
  </div>
</div>
