.product-grid {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  transition: all 0.5s;
}

.product-grid:hover {
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.3);
}

.product-grid .product-image {
  position: relative;
  overflow: hidden;
}

.product-grid .product-image a.image {
  display: block;
}

.product-grid .product-image img {
  width: 100%;
  height: auto;
}

.product-image .pic-1 {
  opacity: 1;
  backface-visibility: hidden;
  transition: all 0.5s;
}

.product-grid:hover .product-image .pic-1 {
  opacity: 0;
}

.product-image .pic-2 {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
}

.product-grid:hover .product-image .pic-2 {
  opacity: 1;
}

.product-grid .product-sale-label {
  color: #fff;
  background: #BDD239;
  font-size: 14px;
  font-style: italic;
  text-transform: uppercase;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.product-grid .social {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 15px;
  right: 7px;
}

.product-grid .social li {
  transform: translateX(60px);
  transition: all 0.3s ease 0.3s;
}

.product-grid .social li:nth-child(2) {
  transition: all 0.3s ease 0.4s;
}

.product-grid:hover .social li {
  transform: translateX(0);
}

.product-grid .social li a {
  color: #707070;
  background-color: #f2f4f3;
  font-size: 16px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  margin: 0 0 7px;
  border-radius: 50px;
  display: block;
  transition: all 0.3s ease 0s;
}

.product-grid .social li a:hover {
  color: #BDD239;
}

.product-grid .product-rating {
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
  padding: 10px;
  opacity: 0;
  position: absolute;
  bottom: -60px;
  left: 0;
  transition: all .2s ease-in-out 0s;
}

.product-grid:hover .product-rating {
  opacity: 1;
  bottom: 0;
}

.product-grid .rating {
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
}

.product-grid .rating li {
  color: #BDD239;
  font-size: 13px;
}

.product-grid .rating li.far {
  color: #999;
}

.product-grid .add-to-cart {
  color: #BDD239;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #BDD239;
  float: right;
  transition: all .2s ease-in-out 0s;
}

.product-grid .add-to-cart:hover {
  color: #000;
  border-color: #000;
}

.product-grid .product-content {
  background: #F5F5F5;
  padding: 15px;
}

.product-grid .title {
  font-size: 18px;
  text-transform: capitalize;
  margin: 0 0 5px;
}

.product-grid .title a {
  color: #111;
  transition: all 500ms;
}

.product-grid .title a:hover {
  color: #BDD239;
}

.product-grid .price {
  color: #707070;
  font-size: 17px;
  text-decoration: underline;
}

.product-grid .price span {
  text-decoration: line-through;
  margin-right: 5px;
  display: inline-block;
  opacity: 0.6;
}

@media only screen and (max-width:990px) {
  .product-grid {
    margin-bottom: 40px;
  }
}
a{
  text-decoration: none;
}
.container .auto-grid{
  --auto-grid-min-size: 16rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
}
